<section id="about-us" class="about-us">
    <div class="container">
        <div class="subtitle-container">
            <h2 class="about-us-title">Про Меблерію</h2>
            <p class="under-title-us">
                У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша місія - пропонувати
                високоякісні
                меблі, що поєднують у собі сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
                інтер'єр
                починається з
                правильних меблів.
            </p>
        </div>
        <div class="about-us-img-container">
            <img class="about-us-img" srcset="
            /img/gallary/galleryone.webp   1x,
            /img/gallary/galleryone2x.webp 2x" src="" alt="" />
        </div>
    </div>
</section>