.about-us {
    padding-top: 64px;
    padding-bottom: 64px;
    background-color: #f0e6e6;
}

.about-us .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 375px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1440px) { 
}