/* Styles for Mobile devices */
.container {
  max-width: 375px;
  margin: 0 auto;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media only screen and (max-width: 374px) {
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
}
