.prod-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
}

.prod-modal-window{
    display: flex;
    margin: 64px auto;
    width: 1090px;
    height: 649px;
    background-color: white;
    padding: 64px;
    border-radius: 16px;
    gap: 24px;
}

.image-cont{
    width: 580px;
    height: 521px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.prod-info{
    display: flex;
    flex-direction: column;
}

.prod-name{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #080c09;
}

.prod-category{
    font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        color: #080c09;
}

.prod-price{
    font-weight: 700;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    color: #080c09;
}

.stars{
    width: 96px;
    height: 15.2px;
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
}

.color-title{
font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #080c09;
}

.color-btns{
    display: flex;
    gap: 16px;
}

.color-btn{
    width: 32px;
    height: 32px;
}

.gray{
background: #c7c3bb;
}

.white{
    background: white;
}

.balck{
background: #201a19;
}